<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  <connectionStrings>
    <add name="IshidoConn" connectionString="Data Source=(localdb)\v11.0;AttachDbFileName=C:\Portfolio\FruitIshido\FruitIshido_Windows_App\FruitIshido\App_Data\Ishido.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>